server:
  port: 8080
  error:
    include-stacktrace: never

spring:
  application:
    name: wisiee
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          google:
            token-uri: https://oauth2.googleapis.com/token
            client-id:
            client-secret:
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
  s3:

s3:
  region: ap-northeast-2
  endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  path-style: true
  bucket: wisiee

