server:
  servlet:
    context-path: /wisiee
  port: 8080
  error:
    include-stacktrace: never

spring:
  application:
    name: wisiee
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            token-uri: https://oauth2.googleapis.com/token
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  config:
    sandRedirect: "/wisiee/api/user/login/success"


s3:
  region:
  endpoint:
  access-key:
  secret-key:
  path-style:
  bucket:
