server:
  port: 8080
  error:
    include-stacktrace: never

spring:
  application:
    name: wisiee
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update

s3:
  region: ap-northeast-2
  endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  path-style: true
  bucket: wisiee

